<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/index.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Piping Information</title>
</head>
<body>

    

    <div class="container">

        <div class="bar">
            <h1>Piping Details</h1>
            <button onclick="onClickHome()">Home</button>
        </div>

        <!-- ---------------------------------------------- -->
        <div class="pdetails-container">
            
            <div class="id_show">
                <h1>Line Number :</h1>
                <h1 id="tv_linenumber"><%=line_number%></h1>
            </div>

            <div class="bar-child">
                <p>CML</p>
                <div class="btnAddCML">
                    <button onclick="onClickAdd('cml',['<%=line_number%>','-1','-1'])">Add CML</button>
                </div>
            </div>


            <div class="tableAllDiv">
                <table>
                    <thead>
                        <tr>
                            <th>CML Number</th>
                            <th>CML Description</th>
                            <th>Actual Outside Diameter</th>
                            <th>Design Thickness</th>
                            <th>Structural Thickness</th>
                            <th>Required Thickness</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>

                        <% for(i = 0;i<cmlList.length;i++) { %>
                        <tr>
                            <td><%= cmlList[i].cml_number%></td>
                            <td><%= cmlList[i].cml_description%></td>
                            <td><%= cmlList[i].actual_outside_diameter%></td>
                            <td><%= cmlList[i].design_thickness%></td>
                            <td><%= cmlList[i].structural_thickness%></td>
                            <td><%= cmlList[i].required_thickness%></td>
            
                            <td >
                                <div class="buttonTableDiv">
                                    <button onclick="onClickView  ('cml',['<%=line_number%>','<%=cmlList[i].cml_number%>'])">View TP</button>
                                    <button onClick="onClickEdit  ('cml',[])">Edit</button>
                                    <button onclick="onClickDelete('cml',['<%=cmlList[i].line_number%>','<%=cmlList[i].cml_number%>','-1','-1'])">Delete</button>
                                </div>
                            </td>
                        </tr>
                        <% } %>
                        
                    </tbody>
                </table>
            </div>
        

        </div>


        <!-- ---------------------------------------------- -->
        <%if (cml_number !== '-1') { %>
        <div class="pdetails-container">
        
            <div class="id_show">
                <h1>CML Number :</h1>
                <h1 id="tv_linenumber"><%=cml_number%></h1>
            </div>

            <div class="bar-child">
                <p>Test Point</p>
                <div class="btnAddCML">
                    <button onclick="onClickAdd('tp',['<%=line_number%>','<%=cml_number%>','<%=tp_number%>','-1'])">Add TP</button>
                </div>
            </div>


            <div class="tableAllDiv">
                <table>
                    <thead>
                        <tr>
                            <th>TP Number</th>
                            <th>TP Description</th>
                            <th>Note</th>
                            <th>-----------</th>
                        </tr>
                    </thead>
                    <tbody>

                        <% for(i = 0;i<tpList.length;i++) { %>
                        <tr>
                            <td><%= tpList[i].tp_number %></td>
                            <td><%= tpList[i].tp_description %></td>
                            <td><%= tpList[i].note %></td>
            
                            <td >
                                <div class="buttonTableDiv">
                                    <button onclick="onClickView('tp',['<%=line_number%>','<%=tpList[i].cml_number%>','<%=tpList[i].tp_number%>'])">View TP</button>
                                    <button onClick="onClickEdit('tp',['<%=line_number%>',[])">Edit</button>
                                    <button onclick="onClickDelete('tp',['<%=tpList[i].line_number%>','<%=tpList[i].cml_number%>','<%=tpList[i].tp_number%>','-1'])">Delete</button>
                                </div>
                            </td>
                        </tr>
                        <% } %>
                        
                    </tbody>
                </table>
            </div>
        

        </div>
        <% } %>


        <!-- ---------------------------------------------- -->
        <% if (tp_number !== '-1') { %>
        <div class="pdetails-container">
        
            <div class="id_show">
                <h1>TP Number :</h1>
                <h1 id="tv_linenumber"><%=tp_number%></h1>
            </div>

            <div class="bar-child">
                <p>Test Point</p>
                <div class="btnAddCML">
                    <button onclick="onClickAdd('tn',['<%=line_number%>','<%=cml_number%>','<%=tp_number%>'])">Add Thickness</button>
                </div>
            </div>


            <div class="tableAllDiv">
                <table>
                    <thead>
                        <tr>
                            <th>Inspection Data</th>
                            <th>Actual Thickness (mm)</th>
                            <th>-----------</th>
                        </tr>
                    </thead>
                    <tbody>

                        <% for(i = 0;i<tnList.length;i++) { %>
                        <tr>
                            <td><%=tnList[i].inspection_date%></td>
                            <td><%=tnList[i].actual_thickness%></td>
            
                            <td >
                                <div class="buttonTableDiv">
                                    <button onClick="onClickEdit('tn',[])">Edit</button>
                                    <button onclick="onClickDelete('tn',['<%=tnList[i].line_number%>','<%=tnList[i].cml_number%>','<%=tnList[i].tp_number%>','<%=tnList[i].tn_number%>'])">Delete</button>
                                </div>
                            </td>
                        </tr>
                        <% } %>
                        
                    </tbody>
                </table>
            </div>
        

        </div>
        <% } %>
        

    </div>
    
    <script>
        document.addEventListener('DOMContentLoaded',()=>{
            const currentURL = window.location.href
        })

        function onClickHome(){
            window.location.href = "/"
        }

        function onClickAdd(table,args){
            if(table === 'cml'){
                window.location.href = `input_page?from=${table}&datalist=["${args[0]}"]`
            }else if(table === 'tp'){
                window.location.href = `input_page?from=${table}&datalist=["${args[0]}","${args[1]}"]`
            }else if(table === 'tn'){
                window.location.href = `input_page?from=${table}&datalist=["${args[0]}","${args[1]}","${args[2]}"]`
            }

        }








        function onClickView(table,args){
            if(table === 'cml'){
               window.location.href = `pipingDetails?line_number=${args[0]}&cml_number=${args[1]}&tp_number=-1`
            }else if(table === 'tp'){
                window.location.href = `pipingDetails?line_number=${args[0]}&cml_number=${args[1]}&tp_number=${args[2]}`
            }
        }
        function onClickEdit(table,args){
            // alert('ClickEdit')
        }

        function onClickDelete(table,args){
            // alert(table)
            // event.preventDefault()
            fetch('/api-remove',{
                method:"POST",
                body:JSON.stringify({ 
                    from:table,
                    datalist:args
                }),
                headers:{
                    "Content-Type": "application/json"
                }
            }).then(res=>{
                // alert('delete success')
                location.reload()
            })


        }

    </script>

</body>
</html>