<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/index.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Piping Information</title>
</head>
<body>

    

    <div class="container">

        <div class="bar">
            <h1>Piping Details</h1>
            <button onclick="onClickHome()">Home</button>
        </div>

        <!-- ---------------------------------------------- -->
        <div class="pdetails-container">
            
            <div class="id_show">
                <h1>Line Number :</h1>
                <h1 id="tv_linenumber"><%=line_number%></h1>
            </div>

            <div class="bar-child">
                <p>CML</p>
                <div class="btnAddCML">
                    <button onclick="onClickAdd('cml','<%=line_number%>')">Add CML</button>
                </div>
            </div>


            <div class="tableAllDiv">
                <table>
                    <thead>
                        <tr>
                            <th>CML Number</th>
                            <th>CML Description</th>
                            <th>Actual Outside Diameter</th>
                            <th>Design Thickness</th>
                            <th>Structural Thickness</th>
                            <th>Required Thickness</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>

                        <% for(i = 0;i<cmlList.length;i++) { %>
                        <tr>
                            <td><%= cmlList[i].cml_number%></td>
                            <td><%= cmlList[i].cml_description%></td>
                            <td><%= cmlList[i].actual_outside_diameter%></td>
                            <td><%= cmlList[i].design_thickness%></td>
                            <td><%= cmlList[i].structural_thickness%></td>
                            <td><%= cmlList[i].required_thickness%></td>
            
                            <td >
                                <div class="buttonTableDiv">
                                    <button onclick="onClickView  ('cml',['<%=line_number%>','<%=cmlList[i].cml_number%>'])">View TP</button>
                                    <button onClick="onClickEdit  ('cml',['<%=line_number%>','<%=cmlList[i].cml_number%>'])">Edit</button>
                                    <button onclick="onClickDelete('cml',['<%=line_number%>','<%=cmlList[i].cml_number%>'])">Delete</button>
                                </div>
                            </td>
                        </tr>
                        <% } %>
                        
                    </tbody>
                </table>
            </div>
        

        </div>


        <!-- ---------------------------------------------- -->
        <%if (cml_number !== '-1') { %>
        <div class="pdetails-container">
        
            <div class="id_show">
                <h1>CML Number :</h1>
                <h1 id="tv_linenumber"><%=cml_number%></h1>
            </div>

            <div class="bar-child">
                <p>Test Point</p>
                <div class="btnAddCML">
                    <button onclick="onClickAdd('tp','<%=line_number%>','<%=cml_number%>','-1')">Add CML</button>
                </div>
            </div>


            <div class="tableAllDiv">
                <table>
                    <thead>
                        <tr>
                            <th>TP Number</th>
                            <th>TP Description</th>
                            <th>Note</th>
                            <th>-----------</th>
                        </tr>
                    </thead>
                    <tbody>

                        <% for(i = 0;i<tpList.length;i++) { %>
                        <tr>
                            <td><%= tpList[i].tp_number %></td>
                            <td><%= tpList[i].tp_description %></td>
                            <td><%= tpList[i].note %></td>
            
                            <td >
                                <div class="buttonTableDiv">
                                    <button onclick="onClickView('tp','<%=line_number%>','<%=tpList[i].cml_number%>','<%=tpList[i].tp_number%>')">View TP</button>
                                    <button onClick="onClickEdit('tp','<%=line_number%>','<%=tpList[i].cml_number%>','<%=tpList[i].tp_number%>')">Edit</button>
                                    <button onclick="onClickDelete('tp','<%=line_number%>','<%=tpList[i].cml_number%>','<%=tpList[i].tp_number%>')">Delete</button>
                                </div>
                            </td>
                        </tr>
                        <% } %>
                        
                    </tbody>
                </table>
            </div>
        

        </div>
        <% } %>


        <!-- ---------------------------------------------- -->
        <% if (tp_number !== '-1') { %>
        <div class="pdetails-container">
        
            <div class="id_show">
                <h1>TP Number :</h1>
                <h1 id="tv_linenumber"><%=tp_number%></h1>
            </div>

            <div class="bar-child">
                <p>Test Point</p>
                <div class="btnAddCML">
                    <button onclick="onClickAdd('tn','<%=line_number%>','<%=cml_number%>','<%=tp_number%>')">Add Thickness</button>
                </div>
            </div>


            <div class="tableAllDiv">
                <table>
                    <thead>
                        <tr>
                            <th>Inspection Data</th>
                            <th>Actual Thickness (mm)</th>
                            <th>-----------</th>
                        </tr>
                    </thead>
                    <tbody>

                        <% for(i = 0;i<tnList.length;i++) { %>
                        <tr>
                            <td><%=tnList[i].inspection_date%></td>
                            <td><%=tnList[i].actual_thickness%></td>
            
                            <td >
                                <div class="buttonTableDiv">
                                    <button onClick="onClickEdit('tp','<%=line_number%>','<%=tpList[i].cml_number%>','<%=tpList[i].tp_number%>')">Edit</button>
                                    <button onclick="onClickDelete('tp','<%=line_number%>','<%=tpList[i].cml_number%>','<%=tpList[i].tp_number%>')">Delete</button>
                                </div>
                            </td>
                        </tr>
                        <% } %>
                        
                    </tbody>
                </table>
            </div>
        

        </div>
        <% } %>
        

    </div>
    
    <script>
        document.addEventListener('DOMContentLoaded',()=>{
            const currentURL = window.location.href
        })

        function onClickHome(){
            window.location.href = "/"
        }

        function onClickAdd(table,line_number,cml_number,tp_number){
            fetch('input_page',{
                method:"POST",
                body:JSON.stringify({ 
                    from:table,
                    datalist:[]
                }),
                headers:{
                    "Content-Type": "application/json"
                }
            })
        }








        function onClickView(table,args){
            alert([table,args])
            // if(table === 'cml'){
            //    window.location.href = `pipingDetails?line_number=${line_number}&cml_number=${cml_number}&tp_number=${tp_number}`
            // }else if(table === 'tp'){
            //     window.location.href = `pipingDetails?line_number=${line_number}&cml_number=${cml_number}&tp_number=${tp_number}`
            // }
        }
        function onClickEdit(table,args){
            // alert('ClickEdit')
        }

        function onClickDelete(table,args){
            // alert(table+"\t"+line_number+"\n"+cml_number)
            event.preventDefault()
            fetch('deleteCML',{
                method:"POST",
                body:JSON.stringify({ 
                    line_number:line_number,
                    cml_number:cml_number
                }),
                headers:{
                    "Content-Type": "application/json"
                }
            }).then(res=>{
                alert('delete success')
                location.reload()
            })


        }

    </script>

</body>
</html>